<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appgestor.cerrofilas" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MockedAccountLight" >
        <activity
            android:name=".Activities.FadeAnimation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.ActLogin"
            android:label="@string/login_app" >
        </activity>
        <activity
            android:name=".Activities.ActHome"
            android:label="@string/title_activity_act_home" >
        </activity>

        <activity
            android:name=".dark.Accounts"
            android:label="@string/title_activity_act_home" >
        </activity>
    </application>

</manifest>
